# buf.yaml.tmpl - Buf configuration for protobuf management
#
# Author: {{AUTHOR}}
# Project: {{PROJECT_NAME}}

version: v1

name: buf.build/{{PROJECT_NAME}}/api

deps:
  - buf.build/googleapis/googleapis

breaking:
  use:
    - FILE

lint:
  use:
    - DEFAULT
  except:
    - PACKAGE_VERSION_SUFFIX

  enum_zero_value_suffix: _UNSPECIFIED
  rpc_allow_same_request_response: false
  rpc_allow_google_protobuf_empty_requests: true
  rpc_allow_google_protobuf_empty_responses: true

  service_suffix: Service

  allow_comment_ignores: true
