// base.go - Base model with timestamps
// Author: {{AUTHOR}}
// Project: {{PROJECT_NAME}}

package models

import (
	"time"

	"gorm.io/gorm"
)

// BaseModel includes common fields for all models
type BaseModel struct {
	ID        uint           `gorm:"primarykey" json:"id"`
	CreatedAt time.Time      `json:"created_at"`
	UpdatedAt time.Time      `json:"updated_at"`
	DeletedAt gorm.DeletedAt `gorm:"index" json:"-"`
}
