/**
 * index.ts - Tauri components exports (React)
 *
 * Autor: {{AUTHOR}}
 */

export { UpdateNotification } from './UpdateNotification';
export { TitleBar } from './TitleBar';
export { SystemTray, useSystemTray } from './SystemTray';
export { SplashScreen, useAppInitialization } from './SplashScreen';
