/**
 * environment.ts - Development environment configuration
 * @author {{AUTHOR}}
 * @project {{PROJECT_NAME}}
 */

export const environment = {
  production: false,
  apiUrl: 'http://localhost:8000/api/v1',
  apiTimeout: 30000,
  tokenKey: 'auth_token',
  refreshTokenKey: 'refresh_token',
  tokenExpiryKey: 'token_expiry',
  enableAnalytics: false,
  enableErrorTracking: false,
  logLevel: 'debug'
};
