/**
 * environment.prod.ts - Production environment configuration
 * @author {{AUTHOR}}
 * @project {{PROJECT_NAME}}
 */

export const environment = {
  production: true,
  apiUrl: '{{API_URL}}',
  apiTimeout: 30000,
  tokenKey: 'auth_token',
  refreshTokenKey: 'refresh_token',
  tokenExpiryKey: 'token_expiry',
  enableAnalytics: true,
  enableErrorTracking: true,
  logLevel: 'error'
};
