# license-checker.yaml - License Compliance Config
# Author: {{AUTHOR}}
# Project: {{PROJECT_NAME}}

allowed:
  - MIT
  - Apache-2.0
  - BSD-2-Clause
  - BSD-3-Clause
  - ISC
  - 0BSD
  - CC0-1.0
  - Unlicense
  - WTFPL
  - CC-BY-3.0
  - CC-BY-4.0
  - Python-2.0
  - PSF-2.0
  - Zlib
  - BlueOak-1.0.0

denied:
  - GPL-2.0
  - GPL-3.0
  - LGPL-2.0
  - LGPL-2.1
  - LGPL-3.0
  - AGPL-1.0
  - AGPL-3.0
  - SSPL-1.0
  - BSL-1.0
  - CPAL-1.0
  - OSL-3.0
  - Artistic-1.0

exceptions:
  # Dev-only packages (not shipped)
  - package: "@types/*"
    reason: "Type definitions - development only"
  - package: "eslint*"
    reason: "Linting - development only"
  - package: "prettier"
    reason: "Formatting - development only"
  - package: "*-loader"
    reason: "Build tools - development only"

output:
  format: json
  file: license-report.json

fail-on:
  - denied
  - unknown
