/**
 * index.ts - Schema exports
 *
 * Author: {{AUTHOR}}
 * Project: {{PROJECT_NAME}}
 */

export * from './base.schema';
export * from './user.schema';

// Export all models
export { User } from './user.schema';

// Add more schema exports here
// export { Post } from './post.schema';
// export { Comment } from './comment.schema';
