{
  "imports": {
    "$/": "./",
    "$src/": "./src/",
    "$handlers/": "./src/handlers/",
    "$middleware/": "./src/middleware/",
    "$services/": "./src/services/",
    "$utils/": "./src/utils/",
    "$types/": "./src/types/"
  }
}
