/**
 * Color Palette
 *
 * Author: {{AUTHOR}}
 */

export const colors = {
  light: {
    primary: '#6200EE',
    secondary: '#03DAC6',
    error: '#B00020',
    background: '#FFFFFF',
    surface: '#FFFFFF',
    onPrimary: '#FFFFFF',
    onSecondary: '#000000',
    onBackground: '#000000',
    onSurface: '#000000',
    onError: '#FFFFFF',
    onSurfaceVariant: '#49454F',
    onSurfaceDisabled: '#1C1B1F61',
    outline: '#79747E',
  },
  dark: {
    primary: '#BB86FC',
    secondary: '#03DAC6',
    error: '#CF6679',
    background: '#121212',
    surface: '#1E1E1E',
    onPrimary: '#000000',
    onSecondary: '#000000',
    onBackground: '#FFFFFF',
    onSurface: '#FFFFFF',
    onError: '#000000',
    onSurfaceVariant: '#CAC4D0',
    onSurfaceDisabled: '#E6E1E561',
    outline: '#938F99',
  },
};
