# GraphQL Code Generator Configuration
# Author: {{AUTHOR}}
# Project: {{PROJECT_NAME}}

overwrite: true
schema: "http://localhost:4000/graphql"
documents: "graphql/**/*.graphql"
generates:
  lib/graphql/generated.ts:
    plugins:
      - "typescript"
      - "typescript-operations"
      - "typescript-react-apollo"
    config:
      withHooks: true
      withHOC: false
      withComponent: false
      skipTypename: false
      enumsAsTypes: true
      avoidOptionals:
        field: true
        inputValue: false
        object: false
      scalars:
        DateTime: string
        Upload: File

  lib/graphql/generated-request.ts:
    plugins:
      - "typescript"
      - "typescript-operations"
      - "typescript-graphql-request"
    config:
      rawRequest: false
      scalars:
        DateTime: string
        Upload: File

hooks:
  afterAllFileWrite:
    - prettier --write
