// prisma/prisma.module.ts - Prisma Database Module
// Author: {{AUTHOR}}
// Project: {{PROJECT_NAME}}

import { Global, Module } from '@nestjs/common';
import { PrismaService } from './prisma.service';

@Global()
@Module({
  providers: [PrismaService],
  exports: [PrismaService],
})
export class PrismaModule {}
