{
  "$schema": "https://schema.tauri.app/config/2/capability",
  "identifier": "default",
  "description": "Default capabilities for {{APP_TITLE}}",
  "windows": ["main"],
  "permissions": [
    "core:default",
    "core:window:allow-close",
    "core:window:allow-minimize",
    "core:window:allow-maximize",
    "core:window:allow-set-title",
    "core:window:allow-show",
    "core:window:allow-hide",
    "shell:allow-open",
    "dialog:allow-open",
    "dialog:allow-save",
    "dialog:allow-message",
    "dialog:allow-ask",
    "dialog:allow-confirm",
    "fs:allow-read",
    "fs:allow-write",
    "fs:allow-exists",
    "fs:allow-mkdir",
    "fs:allow-remove",
    "fs:allow-rename",
    "fs:allow-copy-file",
    "os:allow-platform",
    "os:allow-version",
    "os:allow-arch",
    "os:allow-locale",
    "process:allow-exit",
    "process:allow-restart",
    "notification:allow-show",
    "notification:allow-request-permission",
    "notification:allow-is-permission-granted",
    "clipboard-manager:allow-read",
    "clipboard-manager:allow-write",
    "http:default",
    "store:allow-get",
    "store:allow-set",
    "store:allow-delete",
    "store:allow-clear",
    "store:allow-keys",
    "store:allow-values",
    "store:allow-entries",
    "store:allow-length",
    "store:allow-load",
    "store:allow-save",
    "log:allow-log",
    "updater:default"
  ],
  "remote": {
    "urls": []
  }
}
