/**
 * Auth0 React SDK Client Setup
 *
 * Author: {{AUTHOR}}
 * Project: {{PROJECT_NAME}}
 */

import { Auth0Provider, Auth0ProviderOptions } from '@auth0/auth0-react';
import { ReactNode } from 'react';
import { auth0Config } from './config';

interface Auth0ClientProviderProps {
  children: ReactNode;
}

const providerConfig: Auth0ProviderOptions = {
  domain: auth0Config.domain,
  clientId: auth0Config.clientId,
  authorizationParams: {
    redirect_uri: auth0Config.redirectUri,
    audience: auth0Config.audience,
    scope: auth0Config.scope,
  },
  cacheLocation: 'localstorage',
  useRefreshTokens: true,
};

export function Auth0ClientProvider({ children }: Auth0ClientProviderProps) {
  return (
    <Auth0Provider {...providerConfig}>
      {children}
    </Auth0Provider>
  );
}
