#!/usr/bin/env python3
"""
schema.py - Strawberry GraphQL Schema

Author: {{AUTHOR}}
Project: {{PROJECT_NAME}}
"""

import strawberry
from .types.user import User, AuthPayload
from .queries.user import UserQueries
from .mutations.auth import AuthMutations


@strawberry.type
class Query(UserQueries):
    """Root Query combining all query types."""
    pass


@strawberry.type
class Mutation(AuthMutations):
    """Root Mutation combining all mutation types."""
    pass


schema = strawberry.Schema(query=Query, mutation=Mutation)
